* {
	padding: 0;
	margin: 0;
	font-family: "Arial", sans-serif;
}

/***********TAGS STYLE**********/
body {
	min-height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/questionBcg.jpeg") center/cover fixed no-repeat;
}

a {
	border: 1px solid #DD540A;
	border-radius: 50%;
	padding: 20px;
	text-decoration: none;
	font-size: 2rem;
	transition: 1s;
}

a:hover {
	background-color: #DD540A;
	transition: 1s;
}

h1, h3, p{
	text-align: center;
	width: 90%;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1rem;
	z-index: 2;
	line-height: 1.5rem;
}

img {
	width: 10rem;
	border-radius: 50%;
	margin-bottom: 2rem;
	margin-top: -3rem;
}
/*********************************/

/**********CLASS STYLES***********/
.flex {
	display: flex;
}

.clr {
	color: #DD540A;
}

.clr-2 {
	color: white;
}

.col {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-info {
	width: 50%;
	margin-bottom: 10vh;
}

.customer-card {
	width: 50%;
	height: auto;
	border: 1px solid white;
	border-radius: 1%;
}

.quote-icon {
	margin: 50px 0 30px 0;
	font-size: 2rem;
}

.star-icon {
	margin: 20px 0;
	font-size: 1.3rem;
}
/************************************/


/*************IDs Styles**************/
#wrapper {
	width: 100%;
}

#customer-name {
	text-transform: uppercase;
}

#client {
	font-size: 1.5rem;
}

#buttons {
	position: absolute;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
}
/***************************************/