body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #929292;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/questionBcg.jpeg") center/cover fixed no-repeat;
}

* {
	padding: 0;
	margin: 0;
	font-family: "Arial", sans-serif;
}

#wrapper {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.header-info {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	margin-bottom: 10vh;
}

.header-info span {
	color: #FF5A00;
	font-size: 2rem;
}

.customer-card {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	height: auto;
	border: 1px solid white;
	border-radius: 2%;
}

a {
	display: flex;
	color: #FF5A00;
	border: 1px solid #FF5A00;
	border-radius: 50%;
	padding: 20px;
	text-decoration: none;
	font-size: 2rem;
	transition: 1s;
}

a:hover {
	background-color: #FF5A00;
	color: white;
	transition: 1s;
}

img {
	display: flex;
	width: 10rem;
	border-radius: 50%;
	margin-bottom: 2rem;
	margin-top: -3rem;
}

h1, h3, p{
	text-align: center;
	width: 100%;
	color: white;
	width: 90%;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1rem;
}

#buttons {
	position: absolute;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
}

.quote-icon {
	color: #FF5A00;
	margin-top: 50px;
	font-size: 2.5rem;
}

.star-icon {
	color: #FF5A00;
	margin: 20px 0;
}